.container-fluid
  .row
    .col-sm-12.text-center
      h1 Se connecter

  .row.mtl
    .col-sm-6.col-sm-offset-3
      form(name='loginForm', novalidate)
        .form-group(ng-class='{ "has-error": loginForm.email.$dirty && loginForm.email.$invalid }')
          label.control-label(for='email') Email
          input#email.form-control(name='email', ng-model='login.email', ng-required='true', type='email')

        .form-group(ng-class='{ "has-error": loginForm.password.$dirty && loginForm.password.$invalid }')
          label.control-label(for='password') Mot de passe
          input#password.form-control(name='password', ng-model='login.password', ng-required='true', type='password')

      .row
        .col-sm-8.col-sm-offset-2
          button.btn.btn-success.btn-block.btn-lg(ng-click='send(loginForm)', ng-disabled='loginForm.$invalid') Connexion
