.container-fluid
  .row
    .col-sm-12.text-center
      h1 S'inscrire

  .row.mtl
    .col-sm-6.col-sm-offset-3
      form(name='signupForm', novalidate)
        .form-group(ng-class='{ "has-error": signupForm.email.$dirty && signupForm.email.$invalid }')
          label.control-label(for='email') Email
          input#email.form-control(name='email', ng-model='customer.email', ng-required='true', type='email')

        .form-group(ng-class='{ "has-error": signupForm.password.$dirty && signupForm.password.$invalid }')
          label.control-label(for='password') Mot de passe
          input#password.form-control(name='password', ng-model='customer.password', ng-required='true', type='password')

        .form-group(ng-class='{ "has-error": signupForm.password_confirmation.$dirty && signupForm.password_confirmation.$invalid }')
          label.control-label(for='password_confirmation') Mot de passe (confirmation)
          input#password_confirmation.form-control(name='password_confirmation', ng-model='customer.password_confirmation', ng-required='true', type='password')

        .form-group(ng-class='{ "has-error": signupForm.firstname.$dirty && signupForm.firstname.$invalid }')
          label.control-label(for='firstname') Prénom
          input#firstname.form-control(name='firstname', ng-model='customer.firstname', ng-required='true', type='text')

        .form-group(ng-class='{ "has-error": signupForm.lastname.$dirty && signupForm.lastname.$invalid }')
          label.control-label(for='lastname') Nom
          input#lastname.form-control(name='lastname', ng-model='customer.lastname', ng-required='true', type='text')

      .row
        .col-sm-6.col-sm-offset-3
          button.btn.btn-success.btn-block.btn-lg(ng-click='save(signupForm)', ng-disabled='signupForm.$invalid') S'inscrire

        .col-sm-3.text-right
          a.btn.btn-success.btn-lg(ui-sref='login') Connexion
